body {
    background-color: $dark-blue;
}

header {
    h2 {
        color: $blue;
    }

    img {
        height: 75px;
    }
}

#WeatherForecast {
    flex: auto;
}

#Search {
    float: none;
    margin: 20px auto 10px;

    &__card {
        background-color: $dark-blue;
        border: 1px solid $blue;
        border-radius: 1em;
    }
}

#Results {
    color: $blue;

    &_info__card {
        background-color: $dark-blue;
        border: 0px;
    }

    &_items__card {
        max-width: 10rem;
        background-color: $dark-blue;
        border: 1px solid $blue;
        border-radius: 1em;
        text-align: center;
    }
}
