<script>
    export default {
        name: 'Results',
        props: {
            forecast: Object,
            info: String
        }
    }
</script>

<template>
    <div id="Results">
        <b-card
            id="Results_info__card"
        >
            <span>{{ info }}</span>
        </b-card>
        <b-card-group>
            <b-card
                id="Results_items__card"
                class="mb-2 mr-1"
                v-for="item in forecast.data"
                v-bind:data="item"
                v-bind:key="item.valid_date"
            >
                {{ item.valid_date | moment("ddd Do") }} <br>
                {{ item.temp }} &#8451;
            </b-card>
        </b-card-group>
    </div>
</template>
