<script>
    import {weatherApi} from '../modules/api'

    export default {
        name: 'Search',
        data() {
            return {
                form: {
                    city: '',
                    iso2: ''
                }
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                weatherApi.post('/api/weatherbit/forecast', {
                    city: this.form.city,
                    iso2: this.form.iso2
                }).then(response => {
                    if (response.status === 200) {
                        this.$root.$emit('showForecast', response.data)
                    } else {
                        this.$root.$emit('showForecast', {})
                    }
                }).catch(error => {
                    // Do something with the error
                    console.log(error)
                });
            }
        }
    }
</script>

<template>
    <div id="Search">
        <b-card id="Search__card">
            <b-form @submit="onSubmit">
                <b-container fluid>
                    <b-row>
                        <b-col sm="12" md="4" lg="4">
                            <b-form-input
                                id="city"
                                placeholder="Enter a city"
                                v-model="form.city"
                            ></b-form-input>
                        </b-col>
                        <b-col sm="12" md="4" lg="4">
                            <b-form-input
                                id="iso2"
                                placeholder="Enter country code"
                                v-model="form.iso2"
                            ></b-form-input>
                        </b-col>
                        <b-col sm="12" md="4" lg="4">
                            <b-button
                                id="forecast-weather"
                                type="submit"
                                variant="primary"
                            >Forecast
                            </b-button>
                        </b-col>
                    </b-row>
                </b-container>
            </b-form>
        </b-card>
    </div>
</template>
