<script>
    export default {
        name: 'WeatherForecast',
        data() {
            return {
                forecast: {},
                info: ''
            }
        },
        methods: {
            showForecast(forecast) {
                this.forecast = forecast
                if ('city_name' in forecast) {
                    this.info = 'Weather forecast for ' + forecast.city_name + ' for the next 10 days'
                } else {
                    this.info = 'No forecast found'
                }
            }
        },
        mounted() {
            this.$root.$on('showForecast', forecast => {
                this.showForecast(forecast)
            })
        }
    }
</script>

<template>
    <div id="WeatherForecast">
        <search></search>
        <results
            :forecast="forecast"
            :info="info"
        ></results>
    </div>
</template>
